<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_FILE_NAME" value="application"/>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <pattern>
                {
                "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                "level": "%level",
                "thread": "%thread",
                "logger": "%logger{36}",
                "message": "%msg",
                "traceId": "%X{traceId:-}",
                "companyId": "%X{companyId:-}",
                "userId": "%X{userId:-}",
                "eventName": "%X{eventName:-}",
                "failureReason": "%X{failureReason:-}",
                "productId": "%X{productId:-}",
                "productDetailId" : "%X{productDetailId:-}",
                "paymentId": "%X{paymentId:-}",
                "paymentMethod": "%X{paymentMethod:-}",
                "searchParams": "%X{searchParams:-}",
                "providerName": "%X{providerName:-}",
                "providerResponseTimeMs": "%X{providerResponseTimeMs:-}",
                "exception": "%wEx{full}"
                }
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.json.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr(%-5level) %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} [%X{traceId:-}] : %m%n%wEx</pattern>
        </encoder>
    </appender>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="JSON_FILE"/>
        </root>
    </springProfile>

    <springProfile name="dev | local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>